/* CSS follows rulesets */
/* ruleset

selector{
    declaration
    property: value;
    property: value;
}
*/
/* 
box model

every element has a margin, border, and padding
*margin> space from an element to its parent
*border> a frame that encompasses an element
*PADDING> Space between element and its children element
*/
body {
    background-color: #ecf0f1;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #2c3e50 !important;
}

.menu-options {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: whitesmoke;
}

.nav-link:hover {
    color: #2980b9;
}

